.env
.streamlit/
__pycache__/.streamlit/
agro_env/
.vscode-server/
agro_env/
# Python
__pycache__/
*.py[cod]
.venv/

# uv / entorno
.python-version

# Secretos
.env
.streamlit/secrets.toml

# Sistema
.DS_Store

agro_venv/
.*
!.gitignore
!.streamlit/